* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #f5f5f5;

  /* justify-content: center; */
}

.toggler {
  width: 35px;
  height: 5px;
  background-color: #4e5053;
  margin: 6px 0;
}

.menu-tog {
  position: fixed;
  padding-left: 34px;
  padding-top: 24px;
  width: 372px;
}

.moment {
  width: 327px;
  height: 188px;
  border: 3px solid #fff;
  border-radius: 1px;
  margin-left: 24px;
  padding-right: 27px;
  margin-top: 12px;
}

.moment-prg {
  color: #4e5053;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  width: 315px;
  justify-content: center;
  padding-left: 0;
  line-height: 17px;
  padding-top: 12px;
  text-align: center;
}

.contact-us {
  width: 327px;
  text-align: center;
  font-size: 12px;
  font-family: 'inter', sans-serif;
  color: rgb(131, 131, 131);
  padding-top: 31px;
}

.email {
  color: #272a31;
  font-size: 12px;
  text-align: center;
  font-family: 'lato', sans-serif;
  font-weight: bold;
  border-bottom: 1px solid #272a31;
  padding-top: 7px;
  padding-bottom: 2px;
  margin-left: 95px;
  width: 159px;
}

.past-bg1 {
  background-image: url(./photos/first-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 176px;
  width: 330px;
}

.past-bg2 {
  background-image: url(./photos/vn.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 176px;
  width: 330px;
}

.past-d {
  display: flex;
  justify-content: center;
  gap: 29px;
  flex-direction: column;
  margin-bottom: 90px;
  margin-top: 67px;
  margin-left: 24px;
}

.pas-div {
  background-color: rgba(207, 6, 6, 0.6);
  height: 177px;
  width: 331px;
}

.pas-div:hover {
  opacity: 0;
}

.past-p {
  color: #fff;
  text-align: center;
  font-size: 17px;
  font-family: 'poppins', sans-serif;
}

.hp {
  color: #fff;
  padding: 14px;
  padding-top: 46px;
  text-align: center;
}

.abt-p {
  text-align: center;
  font-size: 12px;
  width: 301px;
  padding-left: 24px;
  color: grey;
}

.h41 {
  display: flex;
  gap: 5px;
  margin-left: 40px;
  border: 1px solid grey;
}

.abt-h4 {
  width: 233px;
  font-size: 20px;
  font-family: 'poppins', sans-serif;
  color: #3b3b3b;
}

.header-div {
  display: none;
}

.nav-ul {
  display: none;
}

header {
  display: none;
}

.cape {
  background-image: url(./photos/first-bg.jpg);
  background-repeat: no-repeat;
}

.article {
  background-color: rgb(255, 255, 255, 0.92);
}

.h1 {
  margin-top: 8px;
  font-family: 'Cocogoose', sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  background-image: linear-gradient(rgba(255, 38, 0, 0.76), rgba(255, 51, 0, 0.575));
  background-repeat: repeat;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-font-smoothing: antialiased;
  margin-left: 24px;
  width: 312px;
}

.date {
  font-family: 'Cocogoose', sans-serif;
  color: #272a31;
  margin-left: 24px;
  margin-top: 14px;
}

.greet {
  padding-top: 116px;
  color: #ec5242;
  margin-left: 24px;
}

.date-1 {
  font-size: 24px;
  padding-top: 13px;
  color: #525252;
  padding-bottom: 12px;
}

.img-w {
  width: 59px;
  padding-left: 10px;
  padding-top: 30px;
}

.j-us {
  margin-top: 34px;
  background-color: #ec5242;
  width: 327px;
  height: 80px;
  margin-left: 24px;
}

.pent {
  font-family: 'poppins', sans-serif;
  line-height: 24px;
  font-size: 17px;
  color: #fff;
  text-align: center;
  padding-top: 33px;
}

.h5 {
  text-align: center;
  font-size: 20px;
  font-family: 'inter', sans-serif;
  padding-top: 38px;
}

.hr1 {
  background-color: #ec5242;
  width: 44px;
  margin-left: 166px;
  margin-top: 24px;
  margin-bottom: 36px;
  height: 4px;
  border-radius: 2px;
}

.footer-img {
  width: 40px;
}

.abt-img {
  width: 42px;
}

.footer-logo {
  width: 42px;
}

.grid-f {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-left: 24px;
}

.sponsor {
  background-color: #484949;
}

.by {
  text-align: center;
  font-size: 20px;
  font-family: 'inter', sans-serif;
  padding-top: 38px;
  color: #fff;
}

#menu {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 462%;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(5px);
  width: 116%;
}

.modal-none {
  display: none;
}

.close-x {
  padding-top: 12px;
  margin-left: 323px;
  font-size: 45px;
}

.modal-to {
  padding-left: 107px;
  font-size: 30px;
  font-family: 'poppins', sans-serif;
  font-weight: bold;
}

.modal {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.menu {
  display: none;
}

.arrow {
  border: solid #ec5242;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 4px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.more {
  width: 342px;
  margin-left: 13px;
  margin-bottom: 12px;
  padding: 9px;
}

.r-more {
  display: none;
}

.n-zm {
  color: #a8a8a8;
}

.n-zmf {
  color: #a8a8a8;
  padding-left: 17px;
  font-size: 17px;
  padding-top: 60px;
}

.lpd {
  color: #ec5242;
  margin-top: 47px;
  font-size: 17px;
  font-family: 'monospace', sans-serif;
}

.msgp {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding-top: 5px;
  line-height: 17px;
  width: 161px;
  color: #fff;
}

.Name {
  font-size: 20px;
  color: #272a31;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title {
  color: #ec5242;
  font-family: 'poppins', sans-serif;
  font-style: oblique;
  font-size: 12px;
}

.home-icon {
  display: none;
}

@media screen and (min-width: 768px) {
  span.menu-tog {
    display: none;
  }

  .header-div {
    display: flex;
    flex-direction: column;
  }

  .icons-ul {
    display: flex;
    justify-content: flex-end;
    gap: 1.5em;
    background-color: #444;
    width: 100%;
    padding-right: 162px;
    color: #fff;
    padding-top: 4px;
  }

  .logt {
    font-family: 'poppins', sans-serif;
    font-size: 12px;
  }

  .nav-ul {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    flex-direction: row;
    color: #bebebe;
    padding-top: 27px;
    font-family: 'lato', sans-serif;
    padding-right: 162px;
    font-weight: bold;
    font-size: 13px;
  }

  .h33 {
    color: #fa3737;
    margin-top: -15px;
    border: 4px solid #fa3737;
    margin-left: 3px;
    padding: 9px;
    font-size: 18px;
  }

  .new-a {
    width: 150px;
    font-size: 18px;
    line-height: 16px;
    font-family: 'lato', sans-serif;
    color: #333;
  }

  .span- {
    display: flex;
    position: absolute;
    padding-top: 17px;
    flex-direction: row;
    padding-left: 180px;
  }

  header {
    display: block;
  }

  .cape {
    display: none;
  }

  .dsk-cape {
    display: block;
  }

  .h-icon {
    width: 20px;
    background-color: #525252;
  }

  .h-trans {
    width: 36px;
  }

  .mine {
    background-color: #fff;
  }

  .h1 {
    margin-top: 8px;
    font-size: 52px;
    margin-left: 239px;
    text-align: center;
    width: 801px;
    font-weight: 800;
  }

  .moment {
    width: 850px;
    height: 218px;
    border: 3px solid rgb(212, 211, 211);
    border-radius: 1px;
    margin-left: 217px;
    background-color: #fff;
    text-align: center;
    margin-top: 12px;
  }

  .moment-prg {
    color: #4e5053;
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    width: 756px;
    padding-top: 53px;
    padding-left: 85px;
  }

  .h7 {
    margin-bottom: 51px;
    color: #6d6d6d;
    margin-left: 177px;
    font-size: 19px;
    margin-top: 3px;
    border-bottom: 1px solid;
    width: 288px;
    padding: 2px;
    border-top: 1px solid;
    font-weight: 700;
  }

  .date {
    margin-left: 198px;
  }

  .date-1 {
    font-size: 35px;
    padding-top: 13px;
    color: #3b3b3b;
  }

  .home-icon {
    width: 53px;
    display: block;
  }

  .home {
    display: flex;
    justify-content: flex-end;
    padding-right: 296px;
  }

  /* footer */

  .footer-img {
    width: 25px;
  }

  .clossing-f {
    height: 135px;
    display: flex;
    justify-content: space-between;
  }

  .grid-f {
    display: flex;
    flex-direction: row;
    margin-left: 198px;
    justify-content: space-between;
    padding-bottom: 45px;
    padding-right: 198px;
  }

  .hr1 {
    margin-left: 652px;
  }

  .footer-logo {
    width: 40px;
  }

  .n-zmf12 {
    padding-top: 34px;
    padding-left: 198px;
  }

  .n-zmf {
    font-size: 17px;
    padding-right: 162px;
    padding-top: 60px;
  }

  .about-e {
    height: 600px;
    width: 100%;
    background-color: #fff;
  }

  .n-about {
    text-align: center;
    font-size: 24px;
    padding-top: 58px;
    color: #222;
    font-family: 'poppins', sans-serif;
  }

  .abt-p {
    text-align: center;
    width: 695px;
    height: 146px;
    color: grey;
    margin-left: 340px;
    font-size: 19px;
  }

  .border- {
    border: 1px solid #e9e9e9;
    width: 595px;
    margin-left: 382px;
  }

  .abt-h4 {
    font-size: 35px;
    padding-top: 13px;
    width: 299px;
    color: #3b3b3b;
  }

  .h41 {
    display: flex;
    flex-direction: row;
    padding-top: 35px;
    padding-left: 74px;
  }

  .abt-img {
    width: 103px;
    padding-right: 6px;
  }

  .abt-hr {
    margin-top: 53px;
    background-color: grey;
  }

  .past-bg1 {
    background-image: url(./photos/first-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 217px;
    width: 382px;
  }

  .past-bg2 {
    background-image: url(./photos/vn.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 217px;
    width: 382px;
  }

  .past-d {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 90px;
    margin-top: 67px;
  }

  .hp {
    color: #fff;
    padding: 14px;
    padding-top: 69px;
    text-align: center;
  }

  .pas-div {
    background-color: rgba(207, 6, 6, 0.6);
    height: 217px;
    width: 382px;
  }

  .past-p {
    color: #fff;
    text-align: center;
    font-size: 17px;
    font-family: 'poppins', sans-serif;
  }

  .abt-see {
    text-align: center;
    font-size: 25px;
    font-family: 'inter', sans-serif;
    padding-top: 80px;
  }

  .p-prg1 {
    text-align: center;
    color: rgb(163, 163, 163);
    font-size: 13px;
    font-family: 'poppins', sans-serif;
    font-weight: bold;
  }

  .pas-div:hover {
    opacity: 0;
  }

  .see-section {
    background-color: #fff;
    height: 590px;
  }

  .contact-us {
    text-align: center;
    font-size: 20px;
    font-family: 'inter', sans-serif;
    color: rgb(131, 131, 131);
    padding-top: 81px;
  }

  .email {
    font-size: 28px;
    text-align: center;
    color: rgb(131, 131, 131);
    font-family: 'lato', sans-serif;
    font-weight: bold;
    padding-top: 16px;
    padding-bottom: 91px;
  }

  .greet {
    display: none;
  }
}
