* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #f5f5f5;

  /* justify-content: center; */
}

.togler {
  color: grey;
  position: absolute;
  margin-top: 20px;
  width: 37px;
  margin-left: 24px;
  background-color: #fff;
}

.greet {
  padding-top: 80px;
  color: red;
  margin-left: 24px;
}

.moment {
  width: 327px;
  height: 129px;
  border: 1px solid #fff;
  border-radius: 1px;
  margin-left: 24px;
  margin-top: 12px;
}

.moment-prg {
  color: #4e5053;
  font-size: 17px;
  font-family: 'Lato', sans-serif;
  width: 315px;
  justify-content: center;
  padding-left: 38px;
  line-height: 24px;
  padding-top: 12px;
}

.header-div {
  display: none;
}

.nav-ul {
  display: none;
}

header {
  display: none;
}

.cape {
  background-image: url(./photos/first-bg.jpg);
  background-repeat: no-repeat;
}

.article {
  background-color: rgb(255, 255, 255, 0.92);
}

.h1 {
  margin-top: 42px;
  font-family: 'Cocogoose', sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  background-image: linear-gradient(rgba(255, 38, 0, 0.76), rgba(255, 51, 0, 0.575)), url(./images/it.jpeg);
  background-repeat: repeat;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-font-smoothing: antialiased;
  margin-left: 24px;
  width: 327px;
}

.date {
  font-family: 'Cocogoose', sans-serif;
  color: #272a31;
  margin-left: 24px;
  margin-top: 14px;
}

.date-1 {
  font-size: 24px;
  padding-top: 13px;
  color: #525252;
  padding-bottom: 12px;
}

.date-tag {
  margin-bottom: 124px;
  color: #a8a8a8;
}

/* program */

.pro-cards {
  background-image: url(./photos/program-bg.jpeg);
  background-repeat: no-repeat;
  height: 893px;
  color: #fff;
  background-size: cover;
}

.pro-cds {
  display: flex;
  flex-direction: column;
}

.pro-div {
  width: 327px;
  display: inline-flex;
  gap: 9px;
  font-size: 12px;
  line-height: 14px;
  margin-left: 24px;
  margin-right: 24px;
  height: 109px;
  color: #fff;
  margin-top: 12px;
  background: linear-gradient(179.4deg, rgba(38, 38, 38, 5) 0.81%, rgba(38, 38, 38, 0.5) 84.03%);
  border-radius: 0;
}

.img-w {
    width: 59px;
    padding-left: 10px;
    padding-top: 30px;
}

.img-chief {
  width: 84px;
  margin-left: 39px;
}

.li-a-card {
  background-image: url(./photos/chbg.png);
  background-size: 55px;
  background-repeat: no-repeat;
  background-position: 20px -11px;
  list-style: none;
  display: flex;
  flex-direction: row;
  height: 158px;
}

.j-us {
  margin-top: 34px;
  background-color: #ec5242;
  width: 327px;
  height: 80px;
  margin-left: 24px;
}

.pent {
  font-family: 'poppins', sans-serif;
  line-height: 24px;
  font-size: 17px;
  color: #fff;
  text-align: center;
  padding-top: 33px;
}

.h5 {
  text-align: center;
  font-size: 20px;
  font-family: 'inter', sans-serif;
  padding-top: 38px;
}

.hr1 {
  background-color: #ec5242;
  width: 44px;
  margin-left: 166px;
  margin-top: 24px;
  margin-bottom: 36px;
  height: 4px;
  border-radius: 2px;
}

.speakers {
  text-align: center;
  font-size: 20px;
  font-family: 'inter', sans-serif;
  padding-top: 38px;
}

.apostles-card {
  height: 100%;
  position: relative;
}

.all-A {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
}

.A-div {
  display: flex;
  flex-direction: column;
}

.footer-img {
  width: 40px;
}

.grid-f {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-left: 24px;
}

.sponsor {
  background-color: #484949;
}

.by {
  text-align: center;
  font-size: 20px;
  font-family: 'inter', sans-serif;
  padding-top: 38px;
  color: #fff;
}

.arrow {
  border: solid #ec5242;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 4px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.more {
  width: 342px;
  margin-left: 13px;
  margin-bottom: 12px;
  padding: 9px;
}

.n-zm {
  color: #a8a8a8;
}

.n-zmf {
  color: #a8a8a8;
  padding-left: 17px;
  padding-top: 60px;
}

.lpd {
  color: #ec5242;
  margin-top: 47px;
  font-size: 17px;
  font-family: 'monospace', sans-serif;
}

.msgp {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding-top: 5px;
  line-height: 17px;
  width: 161px;
  color: #fff;
}

.clossing-f {
  height: 135px;
}
